{{#each goals as |goal| }}
<div class="row mb-4 project">
    <div class="col-md-12">
        <h2>
            <a href="/goals/{{goal.id}}">{{goal.name}}</a>
        </h2>
        <p>
            Created by {{goal.user.username}} on {{goal.start_date}}
        </p>
        <p>
            {{goal.description}}
        </p> 
    </div>
</div>
{{/each}}