<div class="row">
    <div class="col-auto">
        <h2>Welcome to Habbit Maker, {{username}}!</h2>
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <h3>Create a New Goal:</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="goal-name">Goal Name:</label>
                <input type="text" class="form-control" id="goal-name" placeholder="Enter Goal Name">
            </div>
            <div>
                <label for="goal-description">Goal Description:</label>
                <textarea class="goal-control" id="goal-description" rows="3"
                    placeholder="Enter Goal Description"></textarea>
            </div>
            <div>
                <label for="goal-start-date">Start Date:</label>
                <input type="date" class="form-control" id="goaal-start-date" placeholder="Enter Start Date">
            </div>
            <div>
                <label for="goal-frequency">completed:</label>
                <input type="text" class="form-control" id="goal-frequency" placeholder="Is Your Goal Completed?">
            </div>
            <div class="from new-goal-form">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{{#if goals.length}}
<div class="col-md-8 goals-list">
    <h2>Goals:</h2>

    {{#each goals as |goal|}}
    <div class="row mb-4">
        <div class="col-md-10">
            <h3>{{goal.name}}</h3>
            <p>{{goal.description}}</p>
            <p>Start Date: {{goal.start_date}}</p>
            <p>End Date: {{goal.end_date}}</p>
            <p>Completed: {{goal.completed}}</p>
        </div>
    </div>
</div>

<script src="./js/profile.js"></script>